{% extends "base.html" %}

<!-- Links in the navbar -->
{% block navbar %}
<ul class="navbar-nav navbar-light">
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('areaRiservataUtente_leMiePrenotazioni')}}">Le mie prenotazioni</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('areaRiservataUtente_nuovaPrenotazione')}}">Nuova prenotazione</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('areaRiservataUtente_impostazioni')}}">Impostazioni</a>
    </li>
    <!--  QUI SERVIREBBE UN TASTO LOGOUT - DA IMPLEMENTARE IN FASE DI FUSIONE CON IL BACKEND
    <li class="nav-item">
        <form class="form-inline my-2 my-lg-0" action="" method="post">

            <input id="login" class="btn btn-light" type="submit" disabled name="Login" value="Login" />
        </form>
    </li>
    -->
</ul>
{% endblock %}


<!-- Block body -->
{% block body %}
<h1 align="center">Impostazioni</h1><br><br>

<!-- CODICE DA DECOMMENTARE UNA VOLTA CHE SARÀ PASSATO DAL BACKEND IL RISULTATO DELL'ULTIMO TAMPONE ESEGUITO !!!  -->
<!-- Mostra lo stato dell'ultimo tampone
<h2 align="center"> Risultato dell'ultimo tampone: {{risutato}}</h2>
<br> <br>
-->

# Form per inserire l'esito dell'utlimo tampone
<br> <br>
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-2"></div>
        <div class="col-lg-6 col-md-8 login-box">
            <div class="col-lg-12 login-key">
                <i class="fa fa-key" aria-hidden="true"></i>
            </div>
            <h2 align="center"> Inserisci esito nuovo Tampone <h2>
            <br>

            <div class="col-lg-12 login-form">
                <div class="col-lg-12 login-form">
                    <form action="{{url_for('inserisciRisultatoTampone')}}" method="post">
                        <input type="text" id="date" name="date" class="form-control" placeholder="Date - DD/MM/YYYY"> #L'utente inserisce la data del tampone
                        <select id="risultatoTampone" id ="risultatoTampone" class="form-control mb-1" required autofocus> #l'utente seleziona il risultato del tampone
                            <option value="positivo">positivo</option>
                            <option value="negativo">negativo</option>
                        </select>
                        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Accedi" name="accedi" /> #bottone per confermare l'inserimento
                    </form>
                </div>
            </div>
            <div class="col-lg-3 col-md-2"></div>
        </div>
    </div>
</div>
{% endblock %}
