{% extends "base.html" %}

<!-- Links in the navbar -->
{% block navbar %}
<ul class="navbar-nav navbar-light">
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('le_mie_prenotazioni')}}">Le mie prenotazioni</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('nuova_prenotazione')}}">Nuova prenotazione</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('impostazioni')}}">Impostazioni</a>
    </li>
    <!--  QUI SERVIREBBE UN TASTO LOGOUT - DA IMPLEMENTARE IN FASE DI FUSIONE CON IL BACKEND
    <li class="nav-item">
        <form class="form-inline my-2 my-lg-0" action="" method="post">

            <input id="login" class="btn btn-light" type="submit" disabled name="Login" value="Login" />
        </form>
    </li>
    -->
</ul>
{% endblock %}


<!-- Block body -->
{% block body %}
        <br> <br>


        <h1 align="center"> Le mie prenotazioni </h1>
        <br><br>


        <div class="table-responsive table-responsive-data2">
            <table class="table table-data2">
                <thead>
                    <tr>
                        <th>corso</th> <!-- pensavo di farlo come link alla scheda del corso -->
                        <th>giorno</th>
                        <th>ora</th>
                        <th>locale</th>
                        <th>descrizione</th> <!-- relativa alla singola lezione -->
                    </tr>
                    <tbody>
{% if  current_user == True %}
                        <!-- ciclo per mostrare tutte le prenotazioni del cliente -->
                {%if result!= Null %}
                        {% for row in result %}
                        <tr class="tr-shadow">
                            <td>{{row}}</td>
                        </tr>
                        {% endfor %}
                {%endif%}

                    </tbody>
                </thead>
            </table>
        </div>
    {% endif %}
{% endblock %}
