{% extends "base.html" %}

<!-- Links in the navbar -->
{% block navbar %}
<ul class="navbar-nav navbar-light">
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('areaRiservataUtente_leMiePrenotazioni')}}">Le mie prenotazioni</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('areaRiservataUtente_nuovaPrenotazione')}}">Nuova prenotazione</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('areaRiservataUtente_impostazioni')}}">Impostazioni</a>
    </li>
    <!--  QUI SERVIREBBE UN TASTO LOGOUT - DA IMPLEMENTARE IN FASE DI FUSIONE CON IL BACKEND
    <li class="nav-item">
        <form class="form-inline my-2 my-lg-0" action="" method="post">

            <input id="login" class="btn btn-light" type="submit" disabled name="Login" value="Login" />
        </form>
    </li>
    -->
</ul>
{% endblock %}


<!-- Block body -->
{% block body %}
<h1 align="center">NuovaPrenotazione</h1><br><br>

<h1 align="center"> Effettua una nuova prenotazione </h1>
<br><br>

<div class="table-responsive table-responsive-data2">
    <table class="table table-data2">
        <thead>
            <tr>
                <th>idLezione</th>
                <th>corso</th> <!-- pensavo di farlo come link alla scheda del corso -->
                <th>giorno</th>
                <th>ora</th>
                <th>locale</th>
                <th>descrizione</th> <!-- relativa alla singola lezione -->
                <th>prenotati!</th>
            </tr>
            <tbody>
                <!-- ciclo per mostrare tutte le prenotazioni del cliente -->
                {% for row in result %}
                <tr class="tr-shadow">
                    <td>{{row['idLezione']}}</td>
                    <td>{{row['corso']}}</td>
                    <td>{{row['giorno']}}</td>
                    <td>{{row['ora']}}</td>
                    <td>{{row['locale']}}</td>
                    <td>{{row['descrizione']}}</td>
                    <td>
                        <form class="form-inline" action="{{url_for('utenteEffettuaPrenotazione')}}" method="post">
                            <!-- Passaggio del codice del volo non visibile -->
                            <input type="hidden" name="lezione" value="{{row['idLezione']}}" />
                            <!-- Input per vedere i dettagli riguardanti un volo -->
                            <input class="btn btn-outline-primary btn-lg" type="submit" name="Prenotati" value="Prenotati" />
                        </form>
                     </td>
                </tr>
                {% endfor %}

            </tbody>
        </thead>
    </table>
</div>




{% endblock %}
