<html>
    <head>
        <!-- Meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

        <!-- Site title (title of the tab on the browser) -->
        <title>Gym Covid Free</title>

        <!-- Tag to add code -->
        {% block head %}
        {% endblock %}
    </head>


    <body>
        <!-- Navbar of the site -->
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <a class="navbar-brand" href="{{url_for('nologin_Home')}}">Gym Covid Free</a>

            <!-- Tag to add code -->
            {% block navbar %}
            {% endblock %}

        </nav>

        <!-- Tag to add code -->
        {% block body %}
        {% endblock %}

    </body>

</html>
